<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title><%= title %></title>
    </head
    <body>
        <h2><a href="https://<%= hostname %>/"><%= title %></a></h2>

        <h1><%= header %></h1>

        <div><%- contents %></div>

        <p>&copy; 2013 <%= title %> <a href="mailto:info@<%= hostname %>">info@<%= hostname %></a></p>
    </body>
</html>
